/* 
    Document   : styles
    Created on : Aug 30, 2013, 3:39:31 PM
    Author     : Y.M
    Description:
        Purpose of the stylesheet follows.
*/
@import "../reindeer/legacy-styles.css";
@import "custom.css";
@font-face {
    font-family: 'Vaadin-Icons';
    src: url('fonts/Vaadin-Icons.eot');
    src: url('fonts/Vaadin-Icons.eot?#iefix') format('embedded-opentype'),
         url('fonts/Vaadin-Icons.woff') format('woff'),
         url('fonts/Vaadin-Icons.ttf') format('truetype'),
         url('fonts/Vaadin-Icons.svg#icomoon') format('svg');
}
.Vaadin-Icons {
    font-family: 'Vaadin-Icons';
}



